*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
}

p{
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: gray;
}
/* navitation */
body{
    background: black;
}

navbar-brand{
    font-size: 30px;
    color: red;
}


nav-item{
    color: black;
}

nav.r-nav{
  background: transparent; 
  padding: 20px 0;
  transition: .5s all;
}
nav .navbar-brand{
    font-size: 30px;
    color: white;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
nav .navbar-nav li a{
    color: rgb(255,255,255,0.8) !important;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Nunito',sans-serif;
}   
nav .navbar-nav li{
    margin-left: 15px;
}
nav.r-nav.stickyadd{
    background: white !important;
    padding: 15px 0;
    box-shadow: 0 1pc 8px 3px rbga(0,0,0,0.5);
    transition: .5 all ease-in-out;
}

nav.stickyadd .navbar-brand{
    color: black;
    font-size: 40px;
    transition: 0.5 all;
}
nav.stickyadd .navbar-nav .nav-link{
    color: black !important;
}

.navbar .hamburger{
    color:white;
}
nav.stickyadd .hamburger{
    color: black;
}
.container-fluid{
    width: 105%
}

/*Header Section (picture of me) */

header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)) ,url(../images/buzz.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-box{
max-width: 700px;
color: white;
}

.content-box h4{
    font-size: 30px;
}

.content-box h1{
    font-size: 52px;
}

.content-box a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 25px;
}

.content-box a:hover{
    color: black;
    background: white;
    transition: 0.5s all;
}

.content-box p{
    color: white;
}